---
import Prose from "@components/Prose.astro";
import Layout from "@layouts/Layout.astro";
import { formatDate } from "@lib/utils";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const blogs = await getCollection("blog");
  return blogs.map((blog) => ({
    params: { slug: blog.slug },
    props: { blog },
  }));
}

const { blog } = Astro.props;
const { Content } = await blog.render();
---
<Layout title={blog.data.title}>
  <div class="mx-auto max-w-4xl space-y-16">
    <div class="space-y-8">
      <p class="font-mono font-light text-sm text-neutral-500">{blog.data.tags[0]}</p>
      <h1 class="font-medium text-6xl">{blog.data.title}</h1>
      <p class="font-mono text-neutral-500">{formatDate(blog.data.createdDate)} • {blog.data.author}</p>
    </div>
    <div>
      <Prose>
        <Content />
      </Prose>
    </div>
  </div>
</Layout>
