---
import Layout from "@layouts/Layout.astro";
import { Image } from "astro:assets";
import luciaLogo from "@images/lucia-atom.svg";
import reactLogo from "@images/react.svg";
import nextjsLogo from "@images/nextjs.svg";
import astroLogo from "@images/astro.svg";
import remixLogo from "@images/remix.svg";
import { getCollection } from "astro:content";
const allBlogPosts = await getCollection('blog');
---

<Layout title="Lucia">
  <div class="mx-auto max-w-6xl space-y-16">
    <div class="flex gap-32 justify-center items-center my-8">
      <Image src={luciaLogo} alt={"Lucia Logo"} class={"animate-[spin_20s_linear_infinite]"} />
      <h1 class="text-6xl leading-tight w-full">Animated and functional components for your <span class="text-rose-400 font-medium">React</span> apps</h1>
    </div>
    <div class="mx-auto flex flex-col items-center gap-8">
      <h2 class="text-3xl">Supported framework</h2>
      <div class="flex justify-center gap-16">
        <div class="flex items-center gap-4">
          <Image src={reactLogo} alt={"React"} />
          <p class="text-xl">React</p>
        </div>
        <div class="flex items-center gap-4">
          <Image src={nextjsLogo} alt={"NextJS"} />
          <p class="text-xl">NextJS</p>
        </div>
        <div class="flex items-center gap-4">
          <Image src={astroLogo} alt={"Astro"} />
          <p class="text-xl">Astro</p>
        </div>
        <div class="flex items-center gap-4">
          <Image src={remixLogo} alt={"Remix"} />
          <p class="text-xl">Remix</p>
        </div>
      </div>
    </div>
  </div>
</Layout>
